<template>
  <v-app 
    class="layout__admin"
  > 
    <v-main>
      <slot />
    </v-main> 
  </v-app>
</template>

<script>
    export default {
        name:"AuthLogin"
    }
</script>

<style lang="scss" scoped>

</style>