<template> 
    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-title class="teal">
          <strong class="subheading"
            >{{$t("copyright",{year:yearNow})}}</strong
          >

          <v-spacer></v-spacer>

          <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-title> 
      </v-card>
    </v-footer> 
</template>

<script>
export default {
  name: "Fooder",
  data: () => ({
      yearNow: new Date().getFullYear(),
      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    }),
};
</script>

<style lang="sass" scoped></style>
