<template>
  <div class="header-modify">
    <v-app-bar app dark color="teal lighten-1" class="header">  
      <div class="header__item-select">
        <v-select
          v-model="model"
          :items="languages"
          item-value="language"
          item-text="flag"
          return-object
        >
          <template slot="selection" slot-scope="{ item, index }">
            <button :key="index">
              <flag :iso="item.flag" v-bind:squared="false" />
              <span style="color: white"> {{ item.title }}</span>
            </button>
          </template>
          <template slot="item" slot-scope="{ item, index }">
            <button :key="index">
              <flag :iso="item.flag" v-bind:squared="false" />
              {{ item.title }}
            </button>
          </template>
        </v-select>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
import _ from "lodash";
export default {
  name: "Header",
  data: () => ({
    showLanguage: false,
    languages: [
      { flag: "us", language: "us", title: "English" },
      // { flag: "us", language: "en", title: "Castilla" },
      { flag: "fr", language: "fr", title: "Français" },
    ],
    model:{ flag: "us", language: "us", title: "English" },

    selectedItemUser: "",
    itemsUser: [{ text: "Sign out", icon: "mdi-clock", key: "logout" }],
    checkUrl: false,
  }),
  computed: {},
  watch: {
    model() {
      const lang = _.get(this.model, "language");
      this.$i18n.locale = lang;
      console.log(lang,"dd")
      this.$store.commit("lang", { lang });
    },
    selectedItemUser() {
      if (this.selectedItemUser === 0) {
        // this.$store.dispatch("account/logout");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.header-modify {
  height: $height-header;
  display: flex;
}
</style>
