<template>
  <v-app class="layout__admin">
    <Header />
    <v-main
      v-bind:style="{ 
        height: heightcontainer + 'px',
        overflow: 'auto',
        paddingTop:'0px'
      }"
    > 
      <slot/>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Header from "../share/Header.vue";
import Footer from "../share/Footer.vue";
export default {
  components: { Header, Footer},
  name: "Home",
  data() {
    return {
      heightHeader: 0,
      heightFooter: 0,
      heightcontainer: 0, 
    };
  },
  created() {},
  mounted() {
    this.heightHeader = document.querySelector(".v-toolbar__content")?.offsetHeight;
    this.heightFooter = document.querySelector(".v-footer")?.offsetHeight;
    this.heightcontainer = 768 - (this.heightHeader + this.heightFooter);
    this.$store.commit("heightHeader",  this.heightHeader );
  },
};
</script>
<style lang="scss">
@import "../../styles/variables.scss";
#app {
  margin-top: $margin-top !important;
}
.container-modify {
  height: 800px;
}
</style>
