$color: #f00;
$bdr: 1px solid #ccc;
$fontFamily: Arial, sans-serif;
$margin-top: 0px;
$height-header: 60px;
$height-footer: 40px;
// $height-full-screen:768px;
$height-content: calc(100vh - ($height-header + $height-footer ) - 4px)