<template>
  <v-container >
    <v-list-item-group dense nav  > 
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        @click="menuActionClick(item.id)"
      >
        <v-list-item-icon>
          <v-icon dark color="#7E6990" v-text="item.icon"></v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list-item-group>
  </v-container>
</template>

<script>
export default {
  name: "DiagView",
  props: {
    lang: {
      type: String,
      default: "us",
    },
  },
  computed:{
    items(){
      return [
          { id: 1, title: this.$t("label.statisticShop"), icon: "mdi-chart-bar" },
        {
          id: 2,
          title: this.$t("label.statisticBrandFlow"),
          icon: "mdi-chart-histogram",
        },
        {
          id: 3,
          title: this.$t("label.statisticCreated"),
          icon: "mdi-chart-line",
        },
         {
          id: 4,
          title: this.$t("label.positionCss"),
          icon: "mdi-chart-line",
        },
         {
          id: 5,
          title: this.$t("label.animations"),
          icon: "mdi-chart-line",
        },
      ]
    }
  },
  methods: {
    menuActionClick(id) {
      let currentUrl = window.location.pathname;
      if (id === 1 && currentUrl !== "/admin/statisticShop") {
        this.$router.push({ name: "statisticShop" });
      }
      if (id === 2 && currentUrl !== "/admin/statisticBrandFlow") {
        this.$router.push({ name: "statisticBrandflow" });
      }
      if (id === 3 && currentUrl !== "/admin/statisticCreated") {
        this.$router.push({ name: "statisticCreated" });
      }
      if (id === 4 && currentUrl !== "/admin/positionCss") {
        this.$router.push({ name: "positionCss" });
      }
      if (id === 5 && currentUrl !== "/admin/animations") {
        this.$router.push({ name: "animations" });
      }
    },
  },
};
</script>
