<template>
  <div class="admin">
    <v-app-bar-nav-icon v-scroll="{ top: $store.getters.heightHeader, left: '0' }" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-navigation-drawer v-model="drawer" absolute temporary left
      ><DiagView :lang="lang"
    /></v-navigation-drawer>
    <v-container>
       <router-view></router-view>
    </v-container>
  </div>
</template>

<script>
import DiagView from "../../component/DiagView.vue";
export default {
  name: "Admin",
  components: { DiagView },
  data() {
    return {  
      drawer: false, 
    };
  },
  computed: {
    lang() {
      return this.$store.getters["lang"];
    },
    
  },
};
</script>

<style lang="scss" scoped>
.admin {
  display: flex;
  flex-direction: column;
}
</style>
