<template>
  <div class="login">
    <div class="login__form">
      <v-form
        autocomplete="off"
        ref="loginForm"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          ref="project"
          prepend-icon="mdi-home"
          name="project"
          v-model="loginProject"
          :rules="loginProjectRules"
          required
          ><template v-slot:label>{{
            $t("label.project")
          }}</template></v-text-field
        >

        <v-text-field
          ref="userName"
          prepend-icon="mdi-account"
          name="userName"
          v-model="loginEmail"
          :rules="loginUserNameRules"
          required
          ><template v-slot:label>{{ $t("label.userName") }}</template>
        </v-text-field>
        <v-text-field
          prepend-icon="mdi-key"
          name="Password"
          type="password"
          v-model="loginPassword"
          :rules="loginPasswordRules"
          required
        >
          <template v-slot:label>{{ $t("label.password") }}</template>
        </v-text-field>
        <v-card-actions>
          <v-row>
            <v-col cols="12">
              <v-btn
                primary
                color="blue"
                block
                :disabled="!valid"
                @click="Login"
                >{{ $t("label.signIn") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-form>
    </div>
  </div>
</template>
<script>
export default {
  name: "Login",
  data: () => ({
    valid: true,
    loginPassword: "",
    loginEmail: "",
    loginProject: "",
    checkLangLocal: "us",
  }),
  computed: {
    loginProjectRules() {
      return [
        (v) => !!v || this.$t("label.required"),
        (v) => (v && v.length > 0) || this.$t("label.minimumProject"),
      ];
    },
    loginUserNameRules() {
      return [
        (v) => !!v || this.$t("label.required"),
        (v) => /.+@.+\..+/.test(v) || this.$t("label.userMustBeValid"),
      ];
    },
    loginPasswordRules() {
      return [
        (v) => !!v || this.$t("label.required"),
        (v) => (v && v.length >= 6) || this.$t("label.minimumPass"),
      ];
    },
  }, 
  mounted() {
    this.$refs.project.focus();
  },
  methods: {
    Login() {
        localStorage.setItem("token", true);
        this.$router.push('/admin')
    //   this.$store.dispatch("account/login", {
    //     project: this.loginProject,
    //     username: this.loginEmail,
    //     password: this.loginPassword,
    //   });
    },
  },
  updated() {
    if (this.$store.getters["lang"] !== this.checkLangLocal) {
      this.$refs.loginForm.reset();
      this.checkLangLocal = this.$store.getters["lang"];
    }
  },
};
</script>
<style lang="scss">
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #add8e6c7;
  &__form {
    width: 500px;
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #dbeae7 0%, #f3a0cae0 50%, #41d6d0 75%);
    box-shadow: 10px 10px 5px 12px lightblue;
    opacity: 0.95;
        box-shadow: 1px 1px 5px 12px lightblue;
        padding: 1rem;
        border-radius: 5px;
  }
}
</style>
