<template>
  <div>
    <h2>Animations</h2>
    <div class="animetion_bai1">
      <div class="show_loading"></div>
    </div>
    <div class="animetion_bai2">
      <div class="loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="animetion_bai3">
        <div class="dots-loading">
            <div style="--delay:1s" ></div>
            <div style="--delay:2s" ></div>
            <div style="--delay:3s" ></div>
            <div style="--delay:4s" ></div>
            <div style="--delay:5s" ></div>

        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Animations',
}
</script>

<style lang="scss" >
@mixin circle-style{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
@mixin animations-layout{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.animetion_bai1 {
  @include animations-layout;
  .show_loading {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 100%;
    border: 5px solid lightskyblue;
    border-right: 5px solid transparent; //transparent : trong suot
    border-left: 5px solid transparent;
    animation: sniper-loading 2s infinite linear;
  }
}
@keyframes sniper-loading {
  // from -> current -> to
  // from{
  //     transform: rotate(0);
  // } o day from == current
  // xoay = > transform : rotate(360deg)
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animetion_bai2 {
  @include animations-layout;
  .loader {
    text-align: center;
    position: relative;
    transform: translateX(-50%);
  }
}
.loader div:nth-child(1){
       @include circle-style;
        background: red;
        position: absolute; //để nó chuyển động và ko có phụ thuộc 
        animation: loading 1s infinite linear;
        animation-delay: -0.5s;
    }
.loader div:nth-child(2){
       @include circle-style;
        background: blue;
        position: absolute;
        animation: loading 1s infinite linear; 
    }
.loader div:nth-child(3){
       @include circle-style;
        background: red;
        animation: loading2 1s infinite linear;
        animation-delay: -0.5s;
    }
@keyframes loading {
    0%{
       transform: translateX(0);
    }
    50%{
       transform: translateX(80px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes loading2 {
    0%{
      opacity: 1;
      transform: translateX(0);
    }
    49.99%{
       opacity: 1;
     //  transform: translateX(80px);
    }
    50%{
       opacity: 0;
       transform: translateX(80px);
    }
    100%{
       opacity: 0;
       transform: translateX(0);
    }
}
.animetion_bai3{
    @include animations-layout;
    .dots-loading{
        gap : 0px 10px;
         @include animations-layout;
        div{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: blue;
            animation: dots-loading 1s infinite linear  alternate; //alternate luân phiên, 
            //infinite: vô tận , linear: tuyến tính, ease: giảm bớt
            animation-delay: calc(-1*(1/4) *var(--delay));
        }
       
    }
    
}
@keyframes dots-loading {
    0%{
        transform: translateY(0);
    }
    50%,100%{
        transform: translateY(30px);
    }
}
</style>
