<template>
    <div style="text-align:center">
        <h1>Create dropDown use to position</h1>
        <div class="wrap" >
            <div class="select_dropdown">show selected   
                <v-icon >mdi-chevron-down</v-icon>
            </div>
            <div class="select_list">
                <div class="select_item">HTML</div>
                <div class="select_item">JavaScript</div>
                <div class="select_item">CSS</div>
                <div class="select_item">VueJS</div>
            </div>
        </div>
        <div>dunghtm oi! dung dung dung dung dung</div>
    </div>
</template>

<script>
    export default {
        name:"PositionCSS"
    }
</script>

<style lang="scss">
@mixin property-item{
    border: 1px solid beige;
    border-radius: 0.6rem;
    padding: 0.5rem; 
    cursor: pointer;
}
  .wrap{
      width: 200px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      .select_dropdown{
         @include property-item;
         height: 2.5rem;
      }
      .select_list{
          @include property-item;
          position:absolute;
          top: 100%;  //100% la chieu cao cua the cha wrap + select_dropdown
          left: 0%;
          right: 0%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease;
          transform: translateY(20%);
          background: white;
          .select_item{
             border-bottom: 1px solid beige;
          }
       }
       .select_list:before{
           position: absolute; 
           content: "";
           background: transparent;
           transform: translateY(-100%);
           left: 0%;
           right: 0%;
        //    top: 0%;
        //    height: 50%;
        height: 2.5rem;
           opacity: 1;
           visibility: visible;
           cursor: pointer;
           display: block;
       }
       
  }
   .wrap:hover .select_list{
          opacity: 1;
          visibility: visible;
          display: block;
      }

</style>