<template>
    <div>
        StatisticShop
        <p >Stick me 70px from the top of the page</p>
    </div>
</template>

<script>
    export default {
        name:"StatisticShop"
    }
</script>

<style lang="sass" scoped>

</style>