<template>
 <component id="app"
    :is="layout"
  >
    <!-- <v-snackbar
      v-model="isShow"
      transition="slide-y-transition"
    >
      {{ message }}
    </v-snackbar> -->
    <router-view />
  </component>
</template>

<script> 

export default {
  name: 'App',  
  computed:{
     layout() {
            return (this.$route.meta.layout || 'auth-login');
        },
  },
   created(){ 
    
        if(!localStorage.getItem('token') ){
            this.$router.push('/')
        } else if(localStorage.getItem('token') && this.$route.path !== '/'){
            this.$router.push('/admin')
        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
